<header>
  <div id="mobile-menu">
    <div id="nav-button" class="fa fa-bars fa-2x button"></div>
  </div>
  <section id="logo">
    <a href="/" class="4front">
      <img src="https://s3-us-west-2.amazonaws.com/4front-media/4front-logo.png">
    </a>
  </section>
  <div id="navbar">
    <ul id="navmenu">
      <li><a href="/" id="home-menu" {% if page.menu == 'home' %}class="active" {% endif %}>Home</a>
      </li>
      <li>
        <a href="/getting-started" id="getting-started-menu" {% if page.menu == 'getting-started' %}class="active" {% endif %}>Getting Started</a>
      </li>

      <!--
      <li>
        <ul id="getting-started-menu" class="menu">
          <li>
            <a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/starter/installing.html" {% if page.menu=='install' %} class="active" {% endif %}>Installation</a>
            <ul>
              <li>
                <a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/install/local-install.html">
                  Installing Locally
                </a>
              </li>
              <li>
                <a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/install/install-aws.html">
                  Installing on AWS
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    -->

      <li><a href="/docs/introduction" id="home-menu" {% if page.menu == 'docs' %}class="active"{% endif %}>Documentation</a>
      </li>

      <li><a href="/api" {% if page.menu=='api' %}class="active" {% endif %}>API Reference</a>
      </li>
    </ul>
  </div>
  <!-- <a href="http://strongloop.com/node-js/training/" title="Node and Express Training from StrongLoop" id="strongloop-header">Express and Node.js Training from StrongLoop</a> -->
</header>
