<ul id="menu">
	<li>
		<a href="/docs/introduction" {% if page.name == 'introduction.md' %}class="active"{% endif %}>Introduction</a>
	</li>
	<li>
		<a href="/docs/install/installation" {% if page.submenu == 'install' %}class="active"{% endif %}>Installation</a>
		{% if page.submenu == 'install' %}
		<ul>
			<li>
				<a href="/docs/install/local" {% if page.name == 'local.md' %}class="active"{% endif %}>Local OSX Install</a>
			</li>
			<li>
				<a href="/docs/install/aws" {% if page.name == 'aws.md' %}class="active"{% endif %}>Installing on AWS</a>
			</li>
		</ul>
		{% endif %}
	</li>
	<li>
		<a href="/docs/single-signon" {% if page.name == 'single-signon.md' %}class="active"{% endif %}>Single Sign-On</a>
	</li>
	<li>
		<a href="/docs/cli" {% if page.name == 'cli.md' %}class="active"{% endif %}>CLI</a>
	</li>
	<li>
		<a href="/docs/plugins" {% if page.name == 'plugins.md' %}class="active"{% endif %}>Plugins</a>
		{% if page.submenu == 'plugins' %}
		<ul>
			<li>
				<a href="/docs/plugins/webpage" {% if page.name == 'webpage.md' %}class="active"{% endif %}>webpage</a>
			</li>
			<li>
				<a href="/docs/plugins/authorized" {% if page.name == 'authorized.md' %}class="active"{% endif %}>authorized</a>
			</li>
			<li>
				<a href="/docs/plugins/custom-errors" {% if page.name == 'custom-errors.md' %}class="active"{% endif %}>custom-errors</a>
			</li>
			<li>
				<a href="/docs/plugins/basic-auth" {% if page.name == 'basic-auth.md' %}class="active"{% endif %}>basic-auth</a>
			</li>
			<li>
				<a href="/docs/plugins/express-request-proxy" {% if page.name == 'express-request-proxy.md' %}class="active"{% endif %}>express-request-proxy</a>
			</li>
      <li>
				<a href="/docs/plugins/s3-proxy" {% if page.name == 'express-request-proxy.md' %}class="active"{% endif %}>s3-proxy</a>
			</li>
      <li>
				<a href="/docs/plugins/lambda-invoker" {% if page.name == 'lambda-invoker.md' %}class="active"{% endif %}>lambda-invoker</a>
			</li>
			<li>
				<a href="/docs/plugins/ldap-auth" {% if page.name == 'ldap-auth.md' %}class="active"{% endif %}>ldap-auth</a>
			</li>
		</ul>
		{% endif %}
	</li>
	<li>
		<a href="/docs/package-json" {% if page.submenu == 'package-json' %}class="active"{% endif %}>package.json</a>
	</li>
	<li>
		<a href="/docs/dev-sandbox" {% if page.name == 'dev-sandbox.md' %}class="active"{% endif %}>Dev Sandbox</a>
	</li>
	<li>
		<a href="/docs/api" {% if page.name == 'api.md' %}class="active"{% endif %}>API</a>
	</li>
	<li>
		<a href="/docs/autoreload" {% if page.name == 'autoreload.md' %}class="active"{% endif %}>Auto-Reload</a>
	</li>
	<li>
		<a href="/docs/motivation" {% if page.name == 'motivation.md' %}class="active"{% endif %}>Motivation</a>
	</li>

	<li>
		<a href="/docs/guides/index" {% if page.submenu == 'guides' %}class="active"{% endif %}>Guides</a>
		{% if page.submenu == 'guides' %}
		<ul>
			<li>
				<a href="/docs/guides/jekyll-sites" {% if page.name == 'jekyll-sites.md' %}class="active"{% endif %}>Jekyll Sites</a>
			</li>
			<li>
				<a href="/docs/guides/react" {% if page.name == 'react.md' %}class="active"{% endif %}>React Apps</a>
			</li>
		</ul>
		{% endif %}
	</li>
</ul>
